// Color Variables
$primary-color: #009688;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #EDF6F5;

// Font Variables
$primary-font: 'Lato', sans-serif;
$font-hosting: 'none'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';