<footer class="bg-light section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_left }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_left }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_left }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_middle }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_middle }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_middle }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_right }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_right }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_right }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <a class="d-block mb-3" href="{{ site.BaseURL }}"><img width="{{site.Params.logo_width}}"  class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
        <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>
        {{ with site.Params.social }}
        <ul class="list-inline social-icons">
          {{ range . }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="border-top border-default text-center py-4 mt-4">
      <small class="content">{{ site.Params.Copyright | markdownify }}</small>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins + Main Script -->" | safeHTML }}
{{ $allscript := slice }}
{{ range site.Params.plugins.js}}
{{ if findRE "^http" .link }}
<script src="{{ .link | absURL }}"></script>
{{ else }}
  {{ $allscript = $allscript | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ $allscript := $allscript | append (resources.Get "js/script.js" | minify) }}
{{ $allscript := $allscript | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>
